/* DESCKTOP */

body {
    background-color:gray;      
}

div {
    /*min-height: 0.6rem;*/
    height: 0.6rem;
}

main {
    background-color: white;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;

    padding:0.8rem;
}

header{
    background-color: black;
    padding:0.6rem;
}

nav {
    display: flex;
    gap: 0.6rem 0.6rem; /*row col*/
    
    background-color: #404040;

    padding:0.6rem;
}

nav div {
    flex:1;
    background-color: #EA584B;
}

#opcion_1, #opcion_3 {
    flex:0 1 80px; /* flex-grow flex-shrink flex-basis   */
}

#sub_nav {
    background-color: #F0763A;
    padding: 0.6rem;
}
#sub_nav div{
    background-color: #FFCC5E;
}

article {
    background-color: black;
    display:flex;
    gap: 0.6rem;    

    padding:0.6rem;
    margin-top:0.6rem;
}
#seccion_izq {
    background-color:#44465E;
    flex:2;
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    /*align-items:flex-start;*/

    gap: 0.6rem;    

    padding:0.6rem;
}

#seccion_izq div {
    flex: 1 1 250px;
    background-color: #1664A4;
}
#seccion_izq .doble_columna {
    background-color: #6399BB;
    flex: 1 1 800px; /* Revisar */
}

#seccion_der {
    flex:1;
    background-color: #F94C47;

    display:flex;    
    gap: 0.3rem;
    
    flex-direction:column;
    
    padding: 0.6rem;
}

#seccion_der div {
    background-color: #FFE380;
    flex-grow: 0;
}

footer {
    background-color: black;
    padding: 0.6rem;
    margin-top:0.6rem;
}

footer div {
    background-color:#E4A434;
}



/* TABLET */
@media all and (max-width: 62rem) {   /* 992px / 16 */
    
    article {
        background-color: Yellow;
        display:flex;        
        flex-wrap:wrap;
        flex-direction: column;
    }        
    
    #seccion_izq {
        flex-grow: 1;
        flex-basis:0px;
        
    }

    #seccion_izq div {
        flex-basis: 300px;
    }
    
    
}

/* Arreglo para que conserve la apariencia */
@media all and (max-width: 42.5rem) { /* 680px / 16 */
    
    
    #seccion_izq div {
        flex-basis: 250px;
    }
    
}


/* MOVIL */

@media all and (max-width: 37.5rem) {   /* 600px / 16 */
    
    nav {
        flex-direction: column;        
    }

    nav div {
        flex-basis: 0.6rem;
    }

    #opcion_1, #opcion_3 {
        flex-basis: 0.6rem;
        /*flex:0 1 80px;*/
    }
    
    #seccion_izq {
        flex-direction: column;
        /*justify-content: flex-start;*/
        /*flex-wrap: wrap;*/
    }
    
    #seccion_izq div {
        flex-basis: 0.6rem;
    }

    #seccion_izq .doble_columna {
        flex-basis: 0.6rem;
    }

    
}