body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 1600px;
    /*background-color: white;*/
    margin-left: auto;
    margin-right: auto;
}
#logo {    
    flex:0 1 10rem;
}
#logo img {
    width:5rem;
}
#barra_superior {
    display:flex;
    /*justify-content: space-evenly;*/
    align-items: center;

    font-size: 1.2rem;
    color: #808080;

    padding:1rem;
}

#barra_superior a {
    text-decoration: none;
    color: #808080;

    transition: 0.75s;

}
nav {
    flex: 1 1 auto;
    justify-content: space-evenly;
    
}

nav ul{
    padding-left:0px;

    display:flex;
    list-style-type:none;
    justify-content: center;
}

nav ul li {
    flex: 1 1 4rem;
    text-align: center;

    transition: border-color 0.75s;    
}

nav ul li i {
    margin-right:0.3rem;
}

nav ul li a:hover {
    color: #ee7463 !important;
    text-decoration: underline !important;
}

#redes {
    flex:0 1 10rem;
    justify-self: end;
    display:flex;
    gap: 1rem;
    margin-left:auto;

    justify-content: end;
}
#redes div{
    flex:0;
}

#redes div a:hover {
    color: #ee7463;
}

#banner {
    background-image: url("images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height:20rem;   
    
    text-align: center;
}

#banner p {
    width:80%;
    height:2.8rem;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top: 11rem;
    padding: 2.5rem;    
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: rgba(238,116,99,0.8);
    background-color: rgba(128,128,128,0.3);
    /*opacity:0.8;*/

}

/* TABLET */
@media all and (max-width: 992px) { /*992 */
    #barra_superior {
        font-size: 1rem;
    }

    #logo {    
        flex:0 1 6rem;
    }

    #redes {
        flex:0 1 6rem;
    }

}

/* MOVIL */
@media all and (max-width: 700px) { /*600*/
    #barra_superior {
        flex-direction: column;
    }

    nav ul {
        /*flex-direction: column;*/
        flex-wrap: wrap;

        align-items: stretch; /* !!!! */
        gap: 0.1rem;
    }

    nav ul li {
        flex-basis: 80%;
        border: 0.1rem solid rgb(231, 231, 231);
        padding: 0.2rem;
        width: 90%;
        /*background-color: grey;*/
    }

    nav ul li a:hover {        
        color: #ee7463 !important;
        text-decoration: underline !important;
    }

    nav ul li:hover {
        border-color: #ee7463;
    }    

    #redes {
        flex-basis:1rem;
        justify-content: center;
        margin-left:0px;
    }
    #redes div {
        height: 0px;
    }

    #banner {
            height:10rem;           
    }
    
    #banner p {
        width:80%;
        height:1.8rem;
        margin-top: 5rem;
        padding: 1rem;    
                
        font-size: 1rem;
    }
}